{{page-title 'Ember Todo App'}}

{{! The following component displays Ember's default welcome message. }}
{{! <WelcomePage /> }}
{{! Feel free to remove this! }}
<main class='main-app'>
  <h1>Ember Todo App </h1>
  <div>

    <Input
      class='form-input'
      id='todo-app'
      @type='text'
      placeholder='Please todo enter...'
      @value={{this._myValue}}
      {{on 'input' this.myValue}}
    />
    {{#if this.isEdit}}
      <button
        type='button'
        class='form-btn'
        {{on 'click' this.handleUpdate}}
      >Update</button>
    {{else}}
      <button
        type='button'
        class='form-btn'
        {{on 'click' this.handleClick}}
      >Add</button>
    {{/if}}

  </div>
  <ul class='todo-ul'>
    {{#each this.todo as |todo index|}}
      {{! template-lint-disable no-invalid-interactive }}
      <li class={{if (includes index this.isComplete) "is-active"}}>{{convertNumber index}}.
        {{todo}}
        <span {{on 'click' (fn this.handleDelete index)}}>Delete</span>
        <span {{on 'click' (fn this.handleEdit index)}}>Update</span>
        <Input
          id='admin-checkbox'
          @type='checkbox'  
          @checked={{(includes index this.isComplete)}}
          {{on 'input' (fn this.handleCheck index)}}
        />
      </li>
    {{/each}}
  </ul>
  {{this.task}}
</main>

{{outlet}}